* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }

.nav-1 {
    width: 100vw;
    background-color: #333333;
    text-align: end;
    
}
.nav-1 li {
    list-style: none;
    font-size: 20px;
    color: aliceblue;
    display: inline-block;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    background-color: #333333;
    cursor: pointer;
}

.nav-1 li:hover {
color: #f6df1c;
}

body {
    background-color: #a9a9a9;
}

.tittle1 {
    font-size: 22px;
    color: black;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}


h4{
    margin-bottom: 20px;
}


.Container {    
    margin-left: 15px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Container2 {    
    margin-left: 15px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.mes{
    margin: 15px;
    width: 180px;
    height: 30px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: #99A3A4;
    font-size: 16px;
    cursor: pointer; 
    text-align: center; 
    padding-top: 3px;
}

.mesCorto{
    margin-left: 15px;
    margin: 5px;
    width: 90px;
    height: 30px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: #99A3A4;
    font-size: 14px;
    cursor: pointer; 
    text-align: center; 
    padding-top: 5px;
}

